.container {
  min-height: 100vh;
}

.content {
  p {
    margin: 1rem 0;
  }
  h2 {
    margin: 1.666666rem 0 1rem;
  }
}

.nav {
  a:hover, // why does :hover persist after route change on iOS Safari?
  a:active,
  button:hover,
  button:focus {
    svg {
      fill: #000000;
    }

    p {
      color: #000000;
    }
  }

  p {
    transition: color 0.333333s;
  }
}

.image {
  border-radius: 0.333333rem;
  width: 100%;
}
