.container {
  min-height: 100vh;
}

.content {
  p {
    margin: 1rem 0;
  }
  h2 {
    margin: 1.666666rem 0 1rem;
  }
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  a:hover, // why does :hover persist after route change on iOS Safari?
  a:active {
    svg {
      fill: #000000;
    }

    p {
      color: #000000;
    }
  }

  a:last-child {
    display: flex;
    align-items: center; // icon itself isn't centered in <a>
  }

  p {
    transition: color 0.333333s;
  }

  svg {
    width: 1.666666rem;
    height: auto;
    fill: #999999;
    transition: fill 0.333333s;
  }
}

.image {
  border-radius: 0.333333rem;
  width: 100%;
}
